

<table class="table">

    <figure class="text-center">
        <h3> <strong>Fatura para Conferência</strong></h3>
    </figure>



    <thead class="table table-success table-striped-columns">
        <tr>

            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CPF</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1011</th>
            <td>Franciscleide Taquara</td>
            <td>23/08/1985</td>
            <td>917.459.660-80</td>


        </tr>
        <tr>
            <th scope="row">1012</th>
            <td>Pedro Manco Taquara</td>
            <td>15/05/2008</td>
            <td>047.379.853-97</td>
        </tr>
        <tr>
            <th scope="row">1013</th>
            <td>Mévio Santos Taquara</td>
            <td>21/10/2015</td>
            <td>005.998.798-92</td>

        </tr>
    </tbody>
</table>
<div class="d-grid gap-2 col-3 mx-auto">

    <a href="https://l1nq.com/z2Ers"><input type="button" style="background-color: #ECB038;" value="Imprimir Fatura"></a>

</div>
