﻿@{
    ViewData["Title"] = "Serviços";
}
<body>
    <h1>Serviços</h1>
    <h3>Pscinas</h3>
    <div class="alinhamento">
    <div>
     
        <img class="imagens" src="https://th.bing.com/th/id/R.7633a544395c14586e7da9c53a8ecdf0?rik=BaVK0NynjIhaUQ&riu=http%3a%2f%2fclubetelecamp.com.br%2fwp-content%2fuploads%2f2015%2f10%2fclube-piscina-grande-1024x768.jpg&ehk=%2bg%2bQcHxfAxf%2fwe3iOMFpLiJUv7MhNAMNc65amW%2f2%2fYA%3d&risl=&pid=ImgRaw&r=0"/>
      </div>
      <div>
        <p class="textos"><span style="padding-left: 30px;">Aqui as pscinas são da melhor qualidade, elas são higienizadas diariamente por nosso profissionais disponíveis para todos os públicos, sendo elas: pscina profissional para competições com 30 metros comprimento, 20 de largura e 3 de profundidade; Pscina de lazer com 20 metros de comprimento, 10 de largura, 2 metros de profundidade; Pscina infantil com 10 metros de comprimento e 10 metros de largura e 1 metro de profundidade.</span></p>
    </div>

    </div>

 

        <h3 class="espaco">Quadras de Tênis</h3>
    <div class="alinhamento" style="background-color:greenyellow">
 
      <div>
            <p class="textos"><span style="padding-left: 30px;">Conheça a quadra de tênis do nosso prestigioso clube, um verdadeiro paraíso para os amantes do esporte! Esta quadra é uma obra-prima em termos de qualidade, oferecendo uma experiência excepcional a todos os jogadores.A manutenção regular e o cuidado dedicado à quadra são evidentes, refletindo o compromisso do clube em fornecer um ambiente de tênis de classe mundial. Seja você um jogador iniciante ou experiente, aqui você encontrará o cenário perfeito para aprimorar suas habilidades, competir com entusiasmo e desfrutar de momentos inesquecíveis de esporte e convívio social.</span></p>
    </div>
        <div>

            <img class="pscina" src="https://tijucatenis.com.br/images/esportes/quadra-tenis02.jpg" />
        </div>
    </div>

 

    <h3>Vôlei na areia</h3>
    <div class="alinhamento">
    <div>
            <img class="imagens" src="https://www.jaraguaclub.com.br/images/esportes/volei_praia/volei_praia.jpeg" />
            </div>
            <div>
            <p class="textos"><span style="padding-left: 30px;">Bem-vindo ao nosso vibrante campo de vôlei de praia, onde a paixão pelo esporte encontra o ambiente descontraído da areia! Este campo é um verdadeiro oásis para os amantes do vôlei, oferecendo uma experiência única e positiva. Seja para uma partida casual ou um torneio emocionante, este campo é o lugar ideal para vivenciar o melhor do vôlei de praia em um ambiente acolhedor e positivo.</span></p>
    </div>
    </div>

  

    <h3 class="espaco">Campo de Futebol</h3>
    <div class="alinhamento" style="background-color:greenyellow">

        <div>
            <p class="textos"><span style="padding-left: 30px;">Nossa quadra de futebol é o coração pulsante da competição e da diversão esportiva em nosso clube. Com gramado impecável, dimensões regulamentares e redes robustas, proporciona o cenário perfeito para partidas emocionantes. As linhas brancas e bem definidas garantem a precisão nas jogadas, enquanto a iluminação estrategicamente posicionada estende as horas de jogo, permitindo que a magia do futebol continue mesmo após o pôr do sol. As arquibancadas proporcionam uma visão privilegiada, onde torcedores podem vibrar com cada gol e cada lance habilidoso.</span></p>
        </div>
        <div>

            <img class="imagens" src="https://cabanga.com.br/wp-content/uploads/2000/01/LAZER-Futebol-1-1-1024x683.jpg" />
        </div>
    </div>

    

    <h3 class="espaco">Campo de Futsal</h3>
    <div class="alinhamento">
        <div>
            <img class="imagens" src="https://clubecampobelo.com.br/wp-content/uploads/2022/05/8CADAC54-FA72-4B66-9FA2-349923748FC8-scaled.jpeg" />
        </div>

    <div>
        <p class="textos"><span style="padding-left: 30px;">Nossa quadra de futsal é um campo de jogo de dimensões regulamentares, revestido por um piso especial que favorece a velocidade e a agilidade dos jogadores. As linhas nítidas e bem demarcadas garantem partidas precisas, enquanto a rede sólida e bem posicionada assegura um jogo rápido e emocionante. A iluminação eficiente cria um ambiente vibrante, tornando cada partida uma experiência envolvente. As arquibancadas proporcionam uma visão panorâmica, permitindo que os torcedores vibrem com cada lance. A quadra, mantida com esmero, representa o compromisso do clube com a prática esportiva de qualidade.</span></p>
    </div>
    
    </div>



    <h3 class="espaco">Sala de jogos</h3>
    <div class="alinhamento" style="background-color:greenyellow">

        <div>
            <p class="textos">
                <span style="padding-left: 30px;">
                    A sala de jogos do nosso clube é um refúgio de diversão e entretenimento, onde membros podem desfrutar de momentos descontraídos. Equipada com uma variedade de opções, desde mesas de bilhar e pebolim até jogos de tabuleiro modernos, ela é um espaço vibrante que promove a camaradagem e a competição amigável. A decoração acolhedora e iluminação suave criam uma atmosfera convidativa, transformando a sala de jogos em um local perfeito para relaxar e socializar. Este é o lugar onde a diversão é garantida, tornando-a um ponto de encontro querido para todos os membros do clube.</span></div>
        <div>
            <img class="imagens" src="https://www.paulistano.org.br/wp-content/uploads/2019/07/Clube-Paulistano-curso-salao-de-jogos.jpg" />
        </div>
    </div>
  



</body>
<style>
   .imagens{
       width:400px;
       height:300px;

   }
   .textos{
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 20px;
 
   }
   .alinhamento{
        display: flex;
        align-items: start;
        justify-content: start;
        font-size: 30px;
        background-color: darkturquoise;
        
   }
   .espaco{
       top:30px;
   }

    .btn {
        flex: 0 0 auto;
        margin-right: 10px;
        width: 30%;
        height: auto;
        left:100px;
        
    }
</style>