<div class="text-center">
    <h1 class="display-4"> Show de bola! Sua mensagem foi enviada!</h1>
    <div class="imagem">
        <img src="https://cdn-icons-png.flaticon.com/512/1004/1004739.png" style="width: 400px; height: 400px;">
    </div>
</div>

<div class="d-grid gap-2 d-md-block">
    <a type="submit" class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index"> Voltar</a>
</div>