

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Situação</th>
            <th scope="col">Vencimento</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <th scope="row">1</th>
            <td>Dermatológico</td>
            <td>Feito</td>
            <td>10/12/2023</td>
            <td class="row col-md">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-outline-danger btn-sm" role="button" asp-controller="Dependente" asp-action="ExcluirD" asp-route-id="@*@aluno.Id*@">Excluir</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Exame de Saúde</td>
            <td>Pendente</td>
            <td>17/04/2024</td>
            <td class="row col-md">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-outline-danger btn-sm" role="button" asp-controller="Dependente" asp-action="ExcluirD" asp-route-id="@*@aluno.Id*@">Excluir</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>5/06/2024</td>
            <td>Realizado</td>
            <td>2023-09-05</td>
            <td class="row col-md">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-outline-danger btn-sm" role="button" asp-controller="Dependente" asp-action="ExcluirD" asp-route-id="@*@aluno.Id*@">Excluir</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

