

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Cep</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <th scope="row">2</th>
            <td>Carlos</td>
            <td>carlos123@gmail.com</td>
            <td>14/06/2000</td>
            <td>68928-271</td>
            <td class="row col-md">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-outline-danger btn-sm" role="button" asp-controller="Dependente" asp-action="ExcluirD" asp-route-id="@*@aluno.Id*@">Excluir</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Julia</td>
            <td>julia123@gmail.com</td>
            <td>24/09/1990</td>
            <td>69314-717</td>
            <td class="row col-md">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-outline-danger btn-sm" role="button" asp-controller="Dependente" asp-action="ExcluirD" asp-route-id="@*@aluno.Id*@">Excluir</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

